<%= render 'shared/page_title', title: "All Clients" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= will_paginate %>
    
  </div>
</div>

<% @clients.each do |client| %>
  <div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%=link_to gravatar_for(client, size: 200), client_path(client) %>
    <p>
      <h5>Client name: <%= client.clientname %></h5>
    </p>
  </div>
</div>
<% end %>
<br/><br/><br/>