<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left"> Stable Massage - Australia © 2016 - 
         <a href="http://stablemassage.com.au" target="_blank" >www.stablemassage.com.au</a>
    </p>
    
    <a href="http://youtube.com" class="navbar-btn btn-danger btn pull-right">
    <span class="glyphicon glyphicon-star"></span> - see our clinics on YouTube</a>
  </div>
</div>